<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

    <h1>Admin Dashboard</h1>

    <a href="/admin_logout" class="btn btn-danger">
    Logout
</a>

</div>
    <div class="row mb-4">

    <div class="col-md-4">
        <div class="card bg-primary text-white shadow">
            <div class="card-body text-center">
                <h5>Total Students</h5>
                <h2>{{ total_students }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-success text-white shadow">
            <div class="card-body text-center">
                <h5>Average Attendance</h5>
                <h2>{{ avg_attendance }}%</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-warning text-dark shadow">
            <div class="card-body text-center">
                <h5>Average Marks</h5>
                <h2>{{ avg_marks }}</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4 mt-3">
    <div class="card bg-info text-white shadow">
        <div class="card-body text-center">
            <h5>Total Teachers</h5>
            <h2>{{ total_teachers }}</h2>
        </div>
    </div>
</div>

<div class="card shadow mt-4">
    <div class="card-header bg-dark text-white">
        Recent Activity
    </div>

    <div class="card-body">
        <p>Total Students: {{ total_students }}</p>
        <p>Total Teachers: {{ total_teachers }}</p>
        <p>Average Attendance: {{ avg_attendance }}%</p>
        <p>Average Marks: {{ avg_marks }}</p>
    </div>
</div>

<div class="container mt-5">

    <a href="/register" class="btn btn-success mb-3">
    Add Student
</a>
<a href="/add_teacher" class="btn btn-primary mb-3 ms-2">
    Add Teacher
</a>

<form method="GET" action="/admin" class="mb-3">
    <input
        type="text"
        name="search"
        class="form-control"
        placeholder="Search student by name..."
    >
</form>

    <table class="table table-bordered table-striped">

    

        <thead class="table-dark">
            <tr>
                <th>Roll No</th>
                <th>Name</th>
                <th>Department</th>
                <th>Attendance</th>
                <th>Marks</th>
                <th>Semester</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            {% for student in students %}

            <tr>
                <td>{{ student.roll_number }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.department }}</td>
 <td>
{% if student.attendance >= 75 %}
<span class="badge bg-success">
    {{ student.attendance }}%
</span>

{% elif student.attendance >= 50 %}
<span class="badge bg-warning text-dark">
    {{ student.attendance }}%
</span>

{% else %}
<span class="badge bg-danger">
    {{ student.attendance }}%
</span>
{% endif %}
</td>
                
                <td>
{% if student.marks >= 800 %}
<span class="badge bg-success">
    {{ student.marks }}
</span>

{% elif student.marks >= 500 %}
<span class="badge bg-warning text-dark">
    {{ student.marks }}
</span>

{% else %}
<span class="badge bg-danger">
    {{ student.marks }}
</span>
{% endif %}
</td>
                <td>{{ student.semester }}</td>
  <td>
    <a href="/edit_student/{{ student.id }}"
       class="btn btn-primary btn-sm">
       Edit
    </a>

   <a href="/delete_student/{{ student.id }}"
   class="btn btn-danger btn-sm"
   onclick="return confirm('Delete this student?')">
   Delete
</a>
</td>
            </tr>

            {% endfor %}

        </tbody>

    </table>
    <h3 class="mt-5">Teachers</h3>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.id }}</td>
            <td>{{ teacher.name }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.subject }}</td>
            <td>
    <a href="/edit_teacher/{{ teacher.id }}"
       class="btn btn-primary btn-sm">
       Edit
    </a>

   <a href="/delete_teacher/{{ teacher.id }}"
   class="btn btn-danger btn-sm"
   onclick="return confirm('Delete this teacher?')">
   Delete
</a>
</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>

</body>

</html>